.image {
    width: 150px;
    height: 100px;
    padding: 40px;
}
.title {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;  
    background-color: blueviolet;                            
}

.row {
    display: flex;
    flex-direction: row;
    
}

.row.centered {
    justify-content: center;
}

.row.space {
    justify-content: space-between;
}

.input-text {
    padding: 400px;
    text-align: center;
}

.lable-align {
    display: inline-block;
    text-align: center;
}
.center-left {
    float: left;
    margin-right:20px
}